body,div{
  /* display: inline; */
  margin: 0;
  padding: 0;
}

.box{
  width: 1060px;
  height: 770px;
  background-color: aquamarine;
}

.imgbox{
  background-size: cover;
  padding-top: 20px;
  margin-left: 492.5px;
}

.imgbox>img{
  width: 75px;
  height: 75px;
}

.imgbox>h3{
  padding-top: 0;
  margin-top: 3px;
  font-size: 1.0em;
  font-weight: bold;
}

.f h3{
  width: 150px;
  height: 40px;
	background-color:none;
	color: white;
	padding-right: 0px;
	padding-top: 3px;
  margin-top: 2px;
}

.f{
  display: inline;
	text-align: right;
  font-size: 0.85em;
	background-color: #19a0ac;
}

.f img{
  width: 50px;
  height: 48px;
	background-color:none;
	padding-top:0px;
  margin-top: -20px;
}

.f1{
  height: 28px;
  width: 194px;
  padding:10px;
  background-color: #19a0ac;
	border-radius: 5px;
	margin-left: 350px;
  margin-top: 40px;
}

.f11 {
  width: 330px;
  height: 48px;
  display: flex;
	align-items:center;
}

.f1 a{
  text-decoration: none;
}

.shower{
  filter: alpha(Opacity=100);
  opacity: 1;
}

.tupianwenzi{
  display: inline;
  width: 1000px;
  height: 531px;
}

.partbox{
  margin-bottom: 25px;
}

.wenzi{
  margin-left: 30px;
}

.part{
  display: inline;
  display: flex;  /*弹性盒子*/
  flex-direction: row;  /*从左向右*/
  align-items:top;  /*居中*/
  text-align: center;
}

img{
  width: 200px;
  height: 152px;
}

p{
  display: inline;
  margin: 0;
}

.lankuai{
  width: 70px;
  height: 29px;
  background-color: #3c70b4;;
}